--- 
const name =  'Astro'
const style = 'purple'
const users = ['Thiago',  'Camila']
const visble = true
--- 

<p>
	<h1 class={style}>Hello {name}</h1>
	<ul>
		{users.map((user)=><li>{user}</li>)}
	</ul>
	{visble &&  <p>Conditional visible</p>}
	{visble ?  <p>i'm  visible</p> : <p>i'm not visible</p>}
</p>
<style>
	h1{
	 color:Red;
	}

	.purple{
		color: purple;
	}
</style>